/**COLOR SCHEME
* blue: #2083bf
* second blue: #1a5379
* background: (cloud white) #ecf0f1
* green color: #55efc4
**/


html,body{
    background: #ecf0f1;
    margin: 0em; 
    padding: 0em; 
    line-height: 20px; 
    font-family: 'Segoe UI';
    overflow-x: hidden; 
    height: 100%;
     margin-block-start: 0em;
}

* {
margin: 0;
padding: 0;
}

.header-container{
    background-image: linear-gradient(#1a5379,#2083bf);
    margin-top: 0;
}

.hero-header{
  height: 70vh; 
  color: white;
  margin-top: 0px;
  position: relative;
}

.hero-header-text{
     font-size: 48px;
    position: absolute;
    transform: translate(38%, 60%);
}

#hero-h1{
     padding: 35px 0px;
}

ul{
 list-style-type: none;
 margin-block-start: 0em;
 z-index: 1;
}

a{
  text-decoration: none;
  z-index: 1;
}

#upper-nav-ul{
    padding-top: 15px;
 /*   position: absolute;
    right: 10px;
    Doesn't work on smaller screen */
    margin-left: 67%;  
}

.upper-nav-li{
    display: inline-flex;
    margin: 0px 11px;
    font-size: 18px;
    color: white;
    font-weight: 100;
}

.header-links:hover{
 text-shadow: 0.1px 0.1px white;
 cursor: pointer;
}

.rounded{
    border: 1px solid white;
    padding: 7.5px 16px;
    border-radius: 5px;
}


.hero-header-form{
  width: 40%;
  position: absolute;
  transform: translate(106vh,20vh);
  /*transform: translate(100vh,28vh); FOR LARGER SCREENS */ 
}

#what{
    margin-top: 5px;
    margin-bottom: 60px;
    margin-block-start: 0em;
    text-align: center;
    font-weight:400;
    font-size: 30px;
    color: #e6e6e6;
}

.hero-form-input{
    width: 50%;
    height: 30px;
    margin-left: 25%; 
    margin-top: 15px;
    border: 4px solid #1a5379;
    font-size: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    outline: none;
    color: white;
    padding-left: 10px;
    padding-bottom:5px;
    font-family:inherit;
}

.hero-form-label{
  margin-top: 30px; 
  display:block;
  text-align: CENTER;
  font-size: 24px;
}

.hero-duration-select{
    margin-left: 25%;
    margin-top: 22px;
    display: block;
    width: 50%;
    color: #1a5379;
    font-size: 24px;
    text-align: center;
    border-radius: 3px;
    font-family: inherit;
    padding-left: 5px;
}

#hero-form-button{
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 35px;
    padding: 6px 20px;
    background: none;
    border: 1px solid #55efc4;
    color: #55efc4;
    font-size: 21px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
    z-index: 3;
    animation: pulse 1.5s infinite linear;
}

#hero-form-button:hover{
    cursor: pointer; 
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #AAA;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #AAA;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #AAA;
}
:-moz-placeholder { /* Firefox 18- */
  color: #AAA;
}

.logo{
  z-index: 2;
}

.box {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: absolute;
  z-index: 0;
  pointer-events: none;
}

.wave {
  opacity: .1;
  position: absolute;
  top: 3%;
  left: 12%;
  background: #2083bf;
  width: -webkit-fill-available;
  height: 5000px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 17s infinite linear;
  position: absolute;
  pointer-events: none;
}

.wave.-three {
  animation: drift 14s infinite linear;
}

.wave.-two {
  animation: drift 20s infinite linear;
  opacity: .1;
  background: #1a5379;
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

@keyframes pulse{
  0% { box-shadow: none; }
  50% { box-shadow: 0.1px 0.1px 10px #55efc4; }
  100% {box-shadow: none;  }
}

/****************************************************/ 
/*** INDEX AFTER HERO **********/ 

.display-1{
  color: #444;
  margin-left: 25px; 
  margin-top: 50px; 
  letter-spacing: 0.5px;
  font-size: 35px;
}

.display-p{
    margin-left: 35px;
    margin-top: 18px;
}

#address{
    color: #2083bf;
    font-size: 20px;
    font-weight: 400;
    margin-top: 18px;
    margin-left: 7px;
}

.location-text{
  display: inline-flex;
}


/********* FOR THE FOOTER **********/
.navFooter{
      position: relative;
      clear: both; 
      width: 100%; 
      background: #1a5379;
      padding-top: 10px;
    padding-bottom: 10px;
      text-align: CENTER;
      color: grey;
      margin-top: 100px;
      bottom: 0;
      left: 0; 
}

.navFooter-ul{
      padding-inline-start: 0em; 
      margin-block-start: 0em; 
      list-style-type: none; 
      display: inline-flex;
      width: 70%; 
      margin-top: 30px; 
      margin-bottom: 30px; 
      margin-left: 15%; 
      margin-right: 15%;  
}

.navFooter-li-primary{
    font-size: 22px;
    font-weight: 400;
    width: 100%;
    opacity: 0.7;
    color: white;
}

.navFooter-li-secondary{
    font-size: 12px;
    display: list-item;
    text-align: CENTER;
} 

.first-link{
    margin-top: 10px; 
    color: white; 
}

.bottom-nav:hover{
  text-decoration: none; 
}

/************ FOR THE AUTH CONTAINER ***************/ 
#firebaseui-auth-container{
    border: 4px solid #2083bf;
    width: 25%;
    margin-left: 50%;
    transform: translateX(-50%);
    background: white;
    border-radius: 10px;
    margin-top: 70px;
    padding: 50px 30px; 
    box-shadow: 0.1px 0.1px 50px #BBB;
}

#cantwait{
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-bottom: 50px; 
}

#pleasesign{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 50px; 
}

